<!--link href="../assets/bower_components/polymer/polymer.html" rel="import"-->

<dom-module id="main-content">  
    <template>
        <style>
            :host {
                --primary-text-color: #212121;
                --primary-background-color: #ffffff;
                --secondary-text-color: #727272;
                --disabled-text-color: #9b9b9b;
                --divider-color: #B6B6B6;
                --primary-color: #9E9E9E;
                --light-primary-color: #F5F5F5;
                --dark-primary-color: #616161;
                --accent-color: #03A9F4;
                --light-accent-color: #ff80ab;
                --dark-accent-color: #f50057;
                
                --drawer-menu-color: #ffffff;
                --drawer-border-color: 1px solid #ccc;
                --drawer-toolbar-border-color: 1px solid rgba(0, 0, 0, 0.22);
                
                --paper-menu-background-color: #fff;
                --menu-link-color: #111111;
                
                width: 100%;
                
                @apply(--layout-vertical);
                @apply(--layout-center-justified);
            }
            
            paper-card {
                width: calc(98.66% - 16px);
                margin: 16px auto;
            }
            
            .card-content {
                padding-bottom: 32px;
            }
            
            .card-content-row {
                 @apply(--layout-horizontal);
                 @apply(--layout-justified);
            }

            .card-actions {
                @apply(--layout-horizontal);
                @apply(--layout-justified);
            }

            .card-actions
            paper-button {
                color: var(--accent-color);
            }

            .card-action-icon-button {
                color: var(--accent-color);
            }
            
            @media all and (max-width: 600px) {
                paper-card{
                    width: calc(97.33% - 32px);
                    margin: 16px auto;
                }

                .card-content-row {
                     @apply(--layout-vertical);
                     margin-top: -1em;
                     margin-bottom: 2em;
                }
                
                .card-content-row > p {
                     margin-bottom: -1em;
                }
            }

            @media all and (min-width: 761px) {
                paper-card{
                    width: calc(98% - 46px);
                    margin: 16px auto;
                }
            }
            
            @media all and (min-width: 601px) and (max-width: 760px){
                .card-content-row {
                     @apply(--layout-vertical);
                     margin-top: -1em;
                     margin-bottom: 2em;
                }

                .card-content-row > p {
                     margin-bottom: -1em;
                }
            }
        </style>
        
        <paper-card elevation="2" heading="Who am I?">
            <div class="card-content">
                <div class="card-content-row">
                    <p>Name:</p><p>Mario Henrique Vivan Aleo</p>
                </div>
                <div class="card-content-row">
                    <p>Work:</p><p>Mobile developer at GolSat Tecnologia</p>
                </div>
                <div class="card-content-row">
                    <p>Student:</p><p>Analyst and system development at UNOPAR</p>
                </div>
                <div class="card-content-row">
                    <p>Country:</p><p>Brazil</p>
                </div>
                <div class="card-content-row">
                    <p>City:</p><p>Londrina-PR</p>
                </div>
            </div>
            <div class="card-actions">
                <a ng-href="https://github.com/mario-aleo/"><paper-button>GitHub</paper-button></a> <a ng-href="https://br.linkedin.com/in/mario-henrique-vivan-aleo-7513b3b8"><paper-button>LinkedIn</paper-button></a>
            </div>
        </paper-card>

        <paper-card elevation="2" heading="About me">
            <div class="card-content">
                    <p>I'm in love with web development, specially with web development for mobile using Cordova or Web App.</p>
                    <p>So getting as close as I can to the web mobile ninja level is my actual goal.</p>
                    <p>But still my main goal is to get in the game development industry, specially to get engaged with MMO development project.</p>
                    <p>As you can imagine, I love the game universe, both about gaming, playing and testing all kind of games, and about game development.</p>
                    <p>Not only digital games has my attention, but also tabletop RPG, series, films and books, including anime and manga.</p>
            </div>
        </paper-card>
    </template>
</dom-module>
    
<script>
    Polymer({
        is: "main-content",
        properties: {
        },
        ready: function(e){
            console.log('Main Content Loaded');
        }
    });
</script>