<paper-card elevation="2" heading="Who am I?">
    <div class="card-content">
        <div class="card-content-row">
            <p>Name:</p><p>Mario Henrique Vivan Aleo</p>
        </div>
        <div class="card-content-row">
            <p>Work:</p><p>Mobile developer at GolSat Tecnologia</p>
        </div>
        <div class="card-content-row">
            <p>Student:</p><p>Analyst and system development at UNOPAR</p>
        </div>
        <div class="card-content-row">
            <p>Country:</p><p>Brazil</p>
        </div>
        <div class="card-content-row">
            <p>City:</p><p>Londrina-PR</p>
        </div>
    </div>
    <div class="card-actions">
        <a ng-href="https://github.com/mario-aleo/"><paper-button>GitHub</paper-button></a> <a ng-href="https://br.linkedin.com/in/mario-henrique-vivan-aleo-7513b3b8"><paper-button>LinkedIn</paper-button></a>
    </div>
</paper-card>

<paper-card elevation="2" heading="About me">
    <div class="card-content">
        <p>
            I'm in love with web development, specially with web development for mobile using Cordova or Web App. So getting as closer as I can to the web mobile ninja level is my actual goal.
            But still my main goal is to get in the game development industry, specially to get engaged with MMO development project.
            As you can imagine, I love the game universe, both about gamming, playing and testing all kind of games, and about game development.
            Not only digital games has my atention, but also tabletop RPG, series, films and books, including anime and manga.
        </p>
    </div>
</paper-card>
